numpy==1.23.1
scipy==1.9.0
requests==2.28.1
torch==1.12.1
tensorflow==2.9.1
torchvision==0.13.1
six==1.16.0
matplotlib==3.5.2
Pillow==9.2.0
scikit-image==0.19.3
pytest==7.1.2
scikit-learn==1.1.2
future==0.18.2
pytest-cov==3.0.0
pandas==1.4.3
psutil==5.9.1
yapf==0.32.0
